.container {
  background-color: #014b77;
  text-align: center;
}

h1 {
  color: azure;
}

span {
  text-transform: uppercase;
  color: cyan;
}

.theme-switcher {
  display: flex;
  justify-content: center;
  color: azure;
}

.form-check-label {
  margin-left: 7px;
}

//theming
.container.theme-dark {
  background-color: #014b77;
}
