.container {
  background-color: var(--header-bg-color);
  text-align: center;
}

.title {
  color: var(--header-title);
}

span {
  text-transform: uppercase;
  color: cyan;
}

.switchers-container {
  display: flex;
  justify-content: center;
}

.theme-switcher,
.view-switcher {
  display: flex;
  justify-content: center;
}

.view-switcher {
  margin-left: 20px;
}

.form-check-label {
  margin-left: 7px;
  color: var(--header-form-check-label);
}
