.container {
  background-color: #8e9aa2;
  text-align: center;
}

.title {
  color: #2b3131;
}

span {
  text-transform: uppercase;
  color: cyan;
}

.switchers-container {
  display: flex;
  justify-content: center;
}

.theme-switcher,
.view-switcher {
  display: flex;
  justify-content: center;
}

.view-switcher {
  margin-left: 20px;
}

.form-check-label {
  margin-left: 7px;
  color: #2b3131;
}

//theming
.theme-dark {
  background-color: #014b77;

  & .title {
    color: azure;
  }

  & .theme-switcher > label,
  & .view-switcher > label {
    color: azure;
  }
}
