<div class="container" [class.theme-dark]="themeMode === 'Dark'">
	<h1 class="title">Home work <span>movies</span></h1>

	<div class="switchers-container">
		<div class="form-check form-switch theme-switcher">
			<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
				[checked]="themeMode === 'Dark'" (click)="toggleTheme()">
			<label class="form-check-label" for="flexSwitchCheckDefault">{{themeMode}} theme</label>
		</div>

		<div class="form-check form-switch view-switcher">
			<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
				[checked]="viewMode ==='Grid'" (click)="setViewMode()">
			<label class=" form-check-label" for="flexSwitchCheckDefault">{{viewMode}} mode</label>
		</div>
	</div>
</div>