.item-container {
  border: 2px solid var(--custom-border-color);
  border-radius: 5px;
  padding: 5px;

  position: relative;
}

.main-text {
  display: flex;

  & .thumb {
    max-width: 85px;
    margin-right: 20px;
  }
}

button {
  position: absolute;
  height: 45px;
  width: 45px;
  padding: 0;
}

.btn-delete {
  bottom: 5px;
  right: 5px;

  svg {
    fill: var(--remove-btn-color);
  }
}

.btn-favorite {
  top: 5px;
  right: 5px;

  svg {
    fill: var(--favorite-btn-color);
  }
}

.favorite {
  background-color: #0bf3326b;

  svg {
    fill: #087319;
  }
}

.description__year {
  margin-bottom: 0;
}

.actors-list {
  padding-left: 0.3rem;
}

.description__year,
.description__box-office,
.actors-title,
.actors-list {
  color: var(--secondary-text-color);
}

.description__add-date {
  margin-top: 2rem;
  color: var(--add-date-text-color);
}

.description__title {
  color: var(--card-main-title-text-color);
}

@media screen and (min-width: 576px) {
  .actors-list {
    display: flex;
  }

  .actors-item:not(:first-child) {
    margin-left: 15px;
  }
}
