.item-container {
  display: flex;
  border: 2px solid #829eb9;
  border-radius: 5px;
  padding: 5px;

  & .thumb {
    max-width: 85px;
    margin-right: 20px;
  }
}

button {
  margin-left: auto;
  margin-top: auto;
  height: 47px;

  svg {
    fill: #b71e1e;
  }
}

.theme-dark {
  & .description__title {
    color: cyan;
  }

  & .description__year,
  & .description__box-office {
    color: #2a94a5;
  }
}
