.input-container {
  margin-top: 20px;
}

svg {
  fill: #2b3131;
}

.theme-dark {
  & .form-control {
    background-color: #afbae8;
    border-color: #afbae8;
  }

  & button svg {
    fill: cyan;
  }
}
