.input-container {
  margin-top: 20px;
}

.form-control {
  background-color: var(--form-control-bg-color);
  border-color: var(--form-control-border-color);
}

svg {
  fill: var(--find-icon-color);
}
