.thumb {
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  position: relative;

  @media screen and (min-width: 576px) and (max-width: 767px) {
    img {
      height: 371px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    img {
      height: 335px;
    }
  }

  @media screen and (min-width: 1200px) {
    img {
      height: 320px;
    }
  }
}

.description {
  margin-top: 5px;
  font-weight: 500;
  line-height: 1.16;
}

.description__title {
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--card-main-title-text-color);
  font-size: 1.3rem;
}

.description__year {
  margin-bottom: 2px;
}

.description__year,
.description__box-office {
  color: var(--secondary-text-color);
}

button {
  position: absolute;
  height: 47px;
  width: 47px;
  top: 10px;
  right: 10px;
  padding: 0;
  background-color: var(--remove-btn-bg-color);

  svg {
    fill: var(--remove-btn-second-color);
  }
}
