.thumb {
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.description {
  margin-top: 5px;
  font-weight: 500;
  line-height: 1.16;
}

.description__title {
  font-weight: 500;
  margin-bottom: 5px;
  color: #048080;
  font-size: 1.3rem;
}

.description__year {
  margin-bottom: 2px;
}

.theme-dark {
  & .description__title {
    color: cyan;
  }

  & .description__year,
  & .description__box-office {
    color: #2a94a5;
  }
}
