.content {
  background-color: var(--theme-bg-color);
}

.nav-container {
  background-color: var(--nav-bg-color);
  padding: 10px;
}

.nav-item:first-child {
  margin-right: 10px;
}

a.active {
  background-color: #0d6efd;
  border-color: #0d6efd;

  &:hover,
  &:focus {
    background-color: #0b5ed7;
    border-color: #0a58ca;
  }
}
