.add-sort-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.select-container {
  display: block;
}

.form-select {
  background-color: var(--form-control-bg-color);
  border-color: var(--form-control-border-color);
}
