<div class="container p-3">
	<div class="d-grid gap-2 d-sm-block">
		<button class="btn btn-primary" type="button" routerLink="/movies-page">Back</button>
	</div>

	<div class="form-container">
		<form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
			<div class="form-group col-md-6 mb-3">
				<label for="movieTitle" class="form-label">Title:</label>
				<input type="text" class="form-control" id="movieTitle" formControlName="title">
			</div>

			<div class="form-group col-md-6 mb-3">
				<label for="moviePoster" class="form-label">Poster:</label>
				<input type="file" accept="image/*" class="form-control" id="moviePoster" formControlName="fileImage"
					(change)="selectFile($event)">
			</div>

			<div class="form-group col-md-6 mb-3">
				<label for="movieRelease" class="form-label">Release date:</label>
				<input type="date" class="form-control" id="movieRelease" formControlName="date">
			</div>

			<div class="form-group col-md-6 mb-3">
				<label for="movieBoxOffice" class="form-label">Box office:</label>
				<input type="number" class="form-control" id="movieBoxOffice" formControlName="boxOffice" [min]="0">
			</div>

			<div formArrayName="actors">
				<div class="actors-row" *ngFor="let control of actorsFormArray.controls; let i = index">
					<input type="text" class="form-control" [placeholder]="'Actor ' + (i + 1)" [formControlName]="i">
					<button type="button" class="removeBtn" (click)="removeControl(i)"><svg
							xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30"
							viewBox="0 0 30 30">
							<path
								d="M 14.984375 2.4863281 A 1.0001 1.0001 0 0 0 14 3.5 L 14 4 L 8.5 4 A 1.0001 1.0001 0 0 0 7.4863281 5 L 6 5 A 1.0001 1.0001 0 1 0 6 7 L 24 7 A 1.0001 1.0001 0 1 0 24 5 L 22.513672 5 A 1.0001 1.0001 0 0 0 21.5 4 L 16 4 L 16 3.5 A 1.0001 1.0001 0 0 0 14.984375 2.4863281 z M 6 9 L 7.7929688 24.234375 C 7.9109687 25.241375 8.7633438 26 9.7773438 26 L 20.222656 26 C 21.236656 26 22.088031 25.241375 22.207031 24.234375 L 24 9 L 6 9 z">
							</path>
						</svg></button>
				</div>
				<button type="button" class="btn btn-secondary addActorBtn" (click)="addControl()">Add actor</button>
			</div>



			<div class="btn-cont">
				<button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add movie</button>
			</div>
		</form>
	</div>

	<!-- <div style="text-align:center">
		<div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
		<div><img [src]="url" *ngIf="url"></div>
	</div> -->
</div>