/* You can add global styles to this file, and also import other style files */
@import "../node_modules/modern-normalize/modern-normalize.css";
@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  --theme-bg-color: #e0e1e2;
  --header-bg-color: #8e9aa2;
  --header-title: #2b3131;
  --header-form-check-label: #2b3131;

  --form-control-bg-color: #fff;
  --form-control-border-color: #ced4da;
  --find-icon-color: #2b3131;
  --custom-border-color: #829eb9;

  --remove-btn-color: #b71e1e;
  --remove-btn-second-color: #e60303;
  --remove-btn-bg-color: #ecacacb8;

  --favorite-btn-color: #b71e1e;
  --favorite-add-btn-color: #e60303;
  --favorite-btn-bg-color: #ecacacb8;

  --card-main-title-text-color: #048080;
  --secondary-text-color: #212529;
  --add-date-text-color: #0236b3;
}

body {
  background-color: var(--theme-bg-color);

  &.dark {
    --theme-bg-color: #001e3c;
    --header-bg-color: #014b77;
    --header-title: azure;
    --header-form-check-label: azure;

    --form-control-bg-color: #afbae8;
    --form-control-border-color: #afbae8;
    --find-icon-color: cyan;

    --card-main-title-text-color: cyan;
    --secondary-text-color: #2a94a5;
    --add-date-text-color: cyan;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.modal-dialog {
  top: 20%;
}
